footer{
	background-color: #145AA1;
	color: #f9f9f9;
	text-align: center;
}
footer .container{
text-align: center;
}
footer{
	padding: 5px;
}
footer .col-4{
}
footer .row{
	border-bottom: 1px dotted #fff;
}
footer span{
	display: block;
}
footer .row h2{
	text-align: center;
}
footer ul{
	list-style: none;
	padding: 0;
	margin:0;
}
footer ul li a{
	color:#ccc;
}
footer ul li a:hover{
	color: #fff;
}